<div style="padding:10px 0 15px 0;" class="list-height">
	<ul style="list-style: initial;">
		<li>Generate Option Chain  for a selected stock - chain should show all three expiry month options in horizontal side by side tables (like optionvue)</li>
		<li>Each month table should show strike, OI, bid/ask, volume, LTP, IV, which can be fetched from NSE, for the options for which IV is missing, IV will need to be interpolated.</li>
		<li>User should be able to sort by each column head – not needed if sorted by strike price like optionvue.</li>
		<li>User should be able to put a + or - quantity in any option row (like optionvue).</li>
		<li>Two graphs around the tables, one for skew, one for monthly term structure – will need to be plotted using the IV data NSE gives, IV for missing options will need to be interpolated. </li>
		<li>One user selects presses “analyze”, a strategy table should show payoffs, see option oracle payoff table, also a set of rows showing the options with greeks, quantity, margin, credit/debit and a total row. For margin, user can specify “NSE specified margin “ or overwrite it. Also, use should be able to specify brokerage.  Main expiry payoff graph will also have lines to capture time change. User should be able to select volatility change bands (like 2%) to see effect of volatility – see optionvue </li>
	</ul>
	
</div>





