<div style="padding:10px 0 15px 0;" class="list-height">
	<ul style="list-style: initial;">
		<li>User should be able to select strategy and expiry month from two dropdown lists and run screener.</li>
		<li>Will fetch a table with various columns – I will give this table. Sorting by columns is needed </li>
		<li>Select a row in the table and run analytics on that – which will show various tables, charts below – I will share what tables and  charts</li>
	</ul>
</div>
